.hero-banner{
    height: 40rem;
    width: 100% !important;
    object-fit: cover;
}

.hero-text{
    font-size: 5rem;
    font-weight: 500;
    color:black;
}

.hero-subtext{
    color: black;
    font-size: 3rem;
}