<nav class="navbar navbar-expand-lg navbar-light bg-light recipe-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Kitchen Chronicles</a>
        <div class="collapse navbar-collapse" id="navbarNav" style="justify-content: center;">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="add-recipe">Add Recipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Blog</a>
            </li>
          </ul>
        </div>
    </div>
    
  </nav>