
  .recipe-details {
      background: url('/images/Banner.png');
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      height: auto;
  }
  
  .recipe-name {
      font-size: 32px;
      font-style: italic;
      text-align: center;
  }
  
  .notes {
      font-size: 20px;
      background: wheat;
      width: max-content;
      padding: 10px;
      height: 3rem;
      font-weight: 500;
      border-radius: 10px;
  }
  
  .notes-container {
      display: flex;
      gap: 12px;
      justify-content: center;
      margin-bottom: 2rem;
  }
  
  .content-wrapper {
      padding-left: 2rem;
      display: flex;
      justify-content: center;
      gap: 20px;
  }
  
  .recipe-detail-card {
      width: 65rem;
      height: 40rem;
  }
  
  .recipe-detail-card-body {
      padding: 23px;
  }
  
  .recipe-img {
      object-fit: cover;
      width: 62rem;
      height: 37rem;
  }
  
  .check-icon {
      height: 2rem;
      object-fit: contain;
  
  }
  
  .instructions-container {
      padding: 4rem;
  }
  
  .instructions {
      padding: 0;
      margin-top: 20px;
  }
  
  .instruction-step {
      list-style: none;
      display: flex;
      align-items: flex-start;
      gap: 15px;
      margin-bottom: 20px;
  }
  
  .step-number {
      min-width: 32px;
      height: 32px;
      background: #bd8753;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: white;
  }
  
  .step-text {
      flex: 1;
      font-size: 20px;
  }
  
  .back-btn{
      width: fit-content;
      background: wheat;
      border-radius: 10px;
      border: 1px solid transparent;
  } 