<div class="card-wrapper">
    @for(item of recipesList(); track $index){
        <div class="card recipe-card">
            <img [src]="item.image" class="card-img-top"/>
            <div class="card-body">
                <h5 class="card-title">{{item.name}}</h5>
                <hr/>
                <p class="card-text">
                    Preparation Time:{{item.prepTimeMinutes}} minutes
                </p>
                <p class="card-text">
                    Cooking Time:{{item.cookTimeMinutes}} minutes
                </p>
                <a (click)="goToDetailsPage(item.id)" class="btn view-recipe">View Recipe</a>
            </div>
        </div>
    }
</div>